/* product-desc.component.css */
/* ::ng-deep lib-ngx-image-zoom .ngxImageZoomFullContainer {
  border: 3px solid #7c3aed;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
} */
/* ngxImageZoomFullContainer ngxImageZoomLensEnabled */
.main-prod {
  background-color: #e1e1e1;
  width: 100vw;
  height: 100vh;
  padding: 3em;
}
.prod-left {
  width: 50%;
}
.prod-right {
  width: 50%;
  justify-content: flex-end;
  padding: 2em;
}
.prod-heading {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.2em;
}
::ng-deep lib-ngx-image-zoom .ngxImageZoomContainer {
  height: 20em !important;
  width: 20em !important;
  object-fit: contain;
}
.black-box {
  height: 25em;
  width: 18em;
  left: 5.5em;
  bottom: 5.5em;
  background-color: black;
  z-index: 0;
}
.prod-img > img {
  height: 28em;
  width: 22em;
  z-index: 10;
  position: relative;
}
.black-border-box {
  height: 25em;
  width: 18em;
  border: 4px solid black;
  z-index: 0;
  top: 4.5em;
  right: 5em;
}
